/*
 * Landing Page - aboutus
 */
@import url(http://fonts.googleapis.com/earlyaccess/notonaskharabic.css);
body,html {
    width: 100%;
    height: 100%;
}

body,h1,h2,h3,h4,h5,h6 {
    font-family: 'Noto Naskh Arabic', Arial, serif;
    font-weight: 700;
}

.navbar-left{
margin-left: -15px;
}
.navbar-header {
    float: right;
}

.navbar-toggle {
    float: left;
    margin-left: 15px;
}
.navbar-right {
    float: left !important;
    margin-left: -15px;
}
.navbar-brand {
    float: right;
}
.imga{
margin-top: 5px;
float: right;
}
.Naskh {
    font-family: 'Noto Naskh Arabic', serif;
    font-size: 18px;
}
.Naskhul {
    font-family: 'Noto Naskh Arabic', serif;
    font-size: 16px;
}
.lead {
    font-size: 18px;
    font-weight: 400;
    text-align: right;
}

.intro-header {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/intro-bg.jpg) no-repeat center center;
    background-size: cover;
}

.intro {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
    .intro {
        padding-bottom: 15%;
    }
    .navbar-header {
        float: none;
    }
    .intro > h1 {
        font-size: 3em;
    }
    .divider {
        width: 100%;
    }
}

.content-r-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-r-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.r-heading {
    margin-bottom: 30px;
    text-align: right;
}

.r-heading-spacer {
    float: right;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}
.spacer {
    border-top: 1px solid #e7e7e7;
}

footer {
    padding: 50px 0;
    background-color: #fff;
}

p.copyright {
    margin: 15px 0 0;
}
